//Fonts
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Mouse+Memoirs&display=swap');

$default-font: 'Edu TAS Beginner', sans-serif;
$primary-font: 'Mouse Memoirs', sans-serif;

html, body{
    font-family: $default-font;
}

//Loader
#loaderHolder{
    // display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(104, 37, 37);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    height: 100%;
    padding: 40px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;

    .thumbnail {
        transition: 0.1s ease-in-out;
        margin: 0 0 40px 0;

        &:hover {
            cursor: auto;
            transform: none;
        }
    }

    input {
        margin-bottom: 10px;
    }
}

#postDescription {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: 80px;
    background-color: #0af;
    box-shadow: 0px 0px 10px #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 0.2s ease-in-out;

    p {
        color: white;
        margin: 0 0 10px 0;
    }
}

//Images
#imgGridHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 10vh;
    overflow-x: hidden;
}

.thumbnail {
    display: flex;
    align-items: center;
    height:30vh;
    margin: 20px;
    box-shadow: 0 5px 10px #aaa;
    padding: 2px;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    transform: rotate(var(--rotation));
    background-color: white;

    &.selected {
        border: 5px solid #0af;
    }

    &:hover{
        cursor: pointer;
        z-index: 1;
        transform: scale(1.2);
    }
}

.thumbnail img {
    height: 100%;
    border-radius: inherit;
}

@media screen and (max-width: 630px) {
    .form {
        padding: 20px;

        .thumbnail {
            box-shadow: none;
            margin-bottom: 20px;
            padding: 0;
        }
    }

    .thumbnail {
        width: 90%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#modalClose{
    position: fixed;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    animation: fadeIn 0.2s ease-in-out;
    top: 40px;
    right: 0px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

#nextImage{
    position: fixed;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    animation: fadeIn 0.2s ease-in-out;
    background-color: transparent;
    border: transparent;
    font-size: 60px;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
}

#prevImage{
    position: fixed;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    animation: fadeIn 0.2s ease-in-out;
    background-color: transparent;
    border: transparent;
    font-size: 60px;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
}

#modalImage{
    margin-top: 10px;
    max-width: 100%;
    height:85%;
    transition: 0.1s ease-in-out;
    animation: fadeIn 0.2s ease-in-out;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 4px;
}

#nextImage, #prevImage{
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.author{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: bold;
}

// Modal
.customModal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px #aaa;
    padding: 5px;
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
    z-index: 100;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.modalOverlay{
    position: fixed;
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
}

#test{
    color:red;
}

.information {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;

    img {
        max-width: 100px;
        max-height: 100px;
        transform: none;
        border: 3px solid #232323;
        border-radius: 50%;
    }

    p, h3 {
        margin: 0;
        padding: 0;
    }

    .social a {
        text-decoration: none;
        margin: 6px;
    }
}

.footer {
    text-align: center;
    margin: auto;
}

//Pages

//LoginAndSignup
#logSignContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $primary-font;
    background-color: rgba(0,0,0,0.3);
}

#signupBox{
    height:fit-content;
    width:40vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#signUpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    input {
        margin:1px;
        border-radius: 5px;
        width:100%;
    }
}

#loginBox{
    height:fit-content;
    width:40vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#LoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    input {
        margin:1px;
        border-radius: 5px;
        width:100%;
    }
}